---
// src/pages/admin/games/index.astro
import AdminLayout from '../../../layouts/AdminLayout.astro';
import GamesManagement from '../../../components/admin/GamesManagement';
---

<AdminLayout title="Panel de Administración - Gestión de Juegos">
    <div class="max-w-7xl mx-auto ">
        <GamesManagement client:load />
    </div>
</AdminLayout>